@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Filters in MVC</h2>
        
        <ul>
            <li>@ViewBag.OnAuthorization</li>
            <li>@ViewBag.OnActionExecuting</li>
            <li>@ViewBag.OnActionExecuted</li>
            <li>@ViewBag.OnResultExecuting</li>
            <li>@ViewBag.OnResultExecuted</li>
            <li>@ViewBag.OnException</li>
        </ul>
    </div>
</div>